<!DOCTYPE html>
<html lang="en">
<head>
    <style>   
        body.a {
            white-space: normal;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MLSI Inventory System</title>
</head>
<body class="a">
    <br>
    <a href="/">Back to Home Page</a>
    <%-body%>
    <% if (typeof searchResult !== 'undefined') { %>
      <div id="search-result">
        <p><%= searchResult %></p>
      </div>
    <% } %>
</body>
</html>
