<h2>Main Options</h2>
<ul>
    <li><a href="/departments">Departments</a></li>
    <li><a href="/staffs">Staffs</a></li>
    <li><a href="/machines">Machines</a></li>
    <li><a href="/user_machine">User-Machine Transactions</a></li>
</ul>
