<h2>Machine Options</h2>
<ul>
    <li><a href="/addsystem">Add Machine</a></li>
    <li><a href="/search">View a Machine</a></li>
    <li><a href="/search">Update a Machine</a></li>
    <li><a href="/delsystem">Delete a Machine</a></li>
    <li><a href="/machinelogs">Machine Logs</a></li>
    <li><a href="/decom">Decommission a Machine</a></li>
</ul>
