<h2>Machine Logs Options</h2>
<br>
<ul>
    <li><a href="/users/allusers">View All Machine Logs</a></li>
    <li><a href="/addlog">Add a Machine Log</a></li>
    <li><a href="/users/read1">View a Machine's Log(s)</a></li>
    <li><a href="/users/update1">Update a Machine Log</a></li>
    <li><a href="/users/delete1">Delete a Machine Log</a></li>
</ul>