<h2>Staffs Options</h2>
<ul>
    <li><a href="/staffs/allstaffs">View All Current Staffs</a></li>
    <li><a href="/staffs/new">Add Staff</a></li>
    <li><a href="/staffs/read1">View a Staff</a></li>
    <li><a href="/staffs/update1">Update a Staff</a></li>
    <li><a href="/staffs/delete1">Delete a Staff</a></li>
</ul>
