<h2>Machine Transactions Options</h2>
<ul>
    <li><a href="/currown">Current-Owner Records</a></li>
    <li><a href="/currown">Previous-Owner Records</a></li>
    <li><a href="/issue">Issue a Machine</a></li>
    <li><a href="/returndev">Machine Return</a></li>
    <li><a href="/swapsystem">Swap Machines</a></li>
</ul>
