<h2>Update Staff</h2>
<%= message %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<form action="/users/update2" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <label>Enter Current Email of Staff to Update:<br>
      <input type="text" name="currentEmail" value="<%= currentEmailInput %>" />
    </label>
    <br><br>
    <button type="submit">Submit</button>
    <br><br>
  </form>
</body>
</html>